<h1>{{ routeType | titlecase }} List</h1>

<button (click)="clicky()">list/ops</button>

<button (click)="addOrEdit('add', undefined)">Add {{ routeType | titlecase }}</button>

<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th *ngFor="let col of columns">{{ col | titlecase}}</th>
                        <th>View</th>
                        <th>Edit</th>
                    </tr>
                </thead>


                <tbody *ngIf="routeType !== 'user'">
                    <tr *ngFor="let x of list">
                        <td>{{ x.name }}</td>
                        <td>{{ x.description }}</td>
                        <td>{{ x.manager }}</td>
                        <td>{{ x.deputy }}</td>
                        <td>{{ x.assistant }} </td>
                        <td><button class="btn btn-success" [routerLink]="x.slug">View</button></td>
                        <td><button class="btn btn-warning" (click)="addOrEdit('edit', x.slug)">Edit</button></td>
                    </tr>
                </tbody>

                <tbody *ngIf="routeType === 'user'">
                    <tr *ngFor="let x of list">
                        <td>{{ x.first_name }}</td>
                        <td>{{ x.last_name }}</td>
                        <td>{{ x.email }}</td>
                        <td><button [routerLink]="x.slug">View</button></td>
                    </tr>
                </tbody>


            </table>
        </div>
    </div>