<div class="container" style="padding-top: 75px; padding-bottom: 50px;">
    <h2 class="text-center">{{ routeType | titlecase }} List</h2>

    <button *ngIf="routeType == 'users' && adminAccess(permissionGroup)" (click)="registerUser()"
        class="dfrm-button btn-right">Register User</button>
    <button *ngIf="routeType == 'division' && managerAccess(permissionGroup)" (click)="add(routeType)"
        class="dfrm-button btn-right">Add New {{ routeType | titlecase}}</button>
    <button *ngIf="routeType == 'facility' && managerAccess(permissionGroup)" (click)="add(routeType)"
        class="dfrm-button btn-right">Add Facility</button>
    <button *ngIf="routeType == 'image' && projectleaderAccess(permissionGroup)" (click)="uploadImage()"
        class="dfrm-button btn-right">Upload Image</button>
    <button *ngIf="routeType == 'project' && projectleaderAccess(permissionGroup)" (click)="add(routeType)"
        class="dfrm-button btn-right">Add New {{ routeType | titlecase}}</button>


    <br><br><br>
    <div class="container" style="height: 600px;">
        <ag-grid-angular style="width: 100%; height: 100%; font-size:20px" class="ag-theme-alpine"
            [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowData]="data" [rowSelection]="'multiple'"
            [suppressCellFocus]="true" (gridReady)="onGridReady($event)" [animateRows]="true">
        </ag-grid-angular>
    </div>

</div>