<div class="container rounded-border bg-dark my-5">
    <div class="row justify-content-center text-yellow my-4">
        <h2 class="text-center">{{invasive.common_name}}</h2>
        <h4 class="text-center"><em>{{invasive.species_name}}</em></h4>
    </div>

    <div class="species-img-container">
        <img [src]="speciesImageUrl" class="invasive-img" alt="`Image of a {{invasive.common_name}}`">
        <a href="{{invasive.image_attribution}}" class="img-attrib" style="font-size: 10pt;"
            target="_blank">{{invasive.image_attribution}}</a>
    </div>

    <div class="row d-flex">
        <div class="col-md-7 text-lightgray p-5">
            <p *ngIf="invasive.description"><strong>Description: </strong>{{invasive.description}}</p>
            <p *ngIf="invasive.native_to"><strong>Native to: </strong>{{invasive.native_to}}</p>
        </div>
        <div class="col-md-5 text-lightgray p-5">
            <p *ngIf="invasive.size"><strong>Size: </strong>{{invasive.size}}</p>
            <p *ngIf="invasive.shape"><strong>Shape: </strong>{{invasive.shape}}</p>
            <p *ngIf="invasive.habitat"><strong>Habitat: </strong>{{invasive.habitat}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="secondary-container bg-dark">
                <img [src]="image1Url" class="secondary-img">
                <a href="{{invasive.image1_attribution}}" class="secondary-attrib" target="_blank">
                    {{invasive.image1_attribution}}
                </a>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="secondary-container bg-dark">
                <img [src]="image2Url" class="secondary-img">
                <a href="{{invasive.image2_attribution}}" class="secondary-attrib" target="_blank">
                    {{invasive.image2_attribution}}
                </a>
            </div>
        </div>
    </div>


</div>