<div class="container px-4 py-4">
    <br />
    <h2 style="text-align: center;">Upload an Image</h2>
    <form [formGroup]="imageForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <input type="file" (change)="onFileChange($event)" class="form-control form-control-lg" [ngClass]="{ 'validationError' : !selectedImage }">
            <div class="errorMessage validationErrorMessage" *ngIf="!selectedImage">A file must be selected.</div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Image Name</label>
            <input type="text" formControlName="name" class="form-control form-control-lg" required [ngClass]="{ 'validationError' : imageForm.get('name')?.errors }">
            <div class="errorMessage validationErrorMessage" *ngIf="imageForm.get('name')?.hasError('required')">Image name is required.</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" formControlName="description" class="form-control form-control-lg" required [ngClass]="{ 'validationError' : imageForm.get('description')?.errors }">
            <div class="errorMessage validationErrorMessage" *ngIf="imageForm.get('description')?.hasError('required')">Description name is required.</div>
        </div>
        <div class="mb-3">
            <label for="photographer" class="form-label">Photographer</label>
            <input type="text" formControlName="photographer" class="form-control form-control-lg" required [ngClass]="{ 'validationError' : imageForm.get('photographer')?.errors }">
            <div class="errorMessage validationErrorMessage" *ngIf="imageForm.get('photographer')?.hasError('required')">Photographer is required.</div>
        </div>
        <div class="mb-3">
            <label for="source" class="form-label">Source</label>
            <input type="text" formControlName="source" class="form-control form-control-lg" required [ngClass]="{ 'validationError' : imageForm.get('source')?.errors }" >
            <div class="errorMessage validationErrorMessage" *ngIf="imageForm.get('source')?.hasError('required')">Source is required.</div>
        </div>
        <div class="mb-3">
            <label for="photo_date" class="form-label">Photo Date</label>
            <input type="date" formControlName="photo_date" class="form-control form-control-date form-control-lg" required [ngClass]="{ 'validationError' : imageForm.get('photo_date')?.errors }" />
            <div class="errorMessage validationErrorMessage" *ngIf="imageForm.get('photo_date')?.hasError('required')">Photo date is required.</div>
        </div>
        <button type="submit" class="dfrm-button" [disabled]="imageForm.invalid || !selectedImage">Upload
            Image</button>

    </form>
    <br />
    <div class="container rounded" style="background-color: yellow;">
        <p><em><strong>By uploading images here, you are confirming the following:</strong></em></p>
        <ol>
            <li>
                <p><strong>No Copyright Infringement:</strong> You shall not upload any images that infringe on the
                    copyrights, trademarks, or
                    intellectual property rights of any third party.</p>
            </li>
            <li>
                <p><strong>Ownership and Responsibility:</strong> You confirm that you are the owner of the uploaded
                    images
                    or have obtained all
                    necessary permissions and rights to use, upload, and share these images on this website. You are
                    solely
                    responsible for any copyright infringement or legal issues that may arise from the use of these
                    images.
                </p>
            </li>
            <li>
                <p>Any user found to be uploading copyrighted images without proper authorization may be subject to
                    legal action and account suspension.
                </p>
            </li>
        </ol>
    </div>

    <!-- image preview -->
    <div *ngIf="selectedImage" class="mb-3">
        <label class="form-label text-center">Image Preview</label>
        <img [src]="imagePreview" alt="Image Preview" class="img-thumbnail">
    </div>
</div>