.map-container {
    height: 700px;
    width: 100%;
    overflow:hidden;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

#map {
    height:100%;
}