.map-container {
    /* height: 850px; */
    height: 818px;
    width: 100%;    
    overflow: hidden;
    position: relative;
    /* margin-bottom: 50px; */
}

.custom-popup .img-container {
    height: 200px;
    width: 200px;
    overflow: hidden;
}


.custom-popup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}