<div class="container my-5">
    <h1 class="dfrm-page-title text-center">Data Query Tool</h1>
    <app-button [label]="'Test'" (click)="consoleLog()" [style]="{'position': 'absolute'}"></app-button>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6 offset-1">
            <ng-select [(ngModel)]="selectedTaskType" [items]="task_types" bindLabel="name" bindValue="id"
                [readonly]="disableTaskType" [id]="'task_types'" [placeholder]="'Select Data Type'"
                (change)="taskTypeChange($event)" [ngClass]="'my-2'">
            </ng-select>
        </div>
        <div class="col-2">
            <app-button [label]="'Reset Query'" (click)="resetTaskType()"></app-button>
        </div>
    </div>

    <h2 class="divider gradient-hr"></h2>

        <div *ngIf="colDefs">
            <div class="container-fluid my-2" style="height: 700px;">
                <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-quartz-dark" [columnDefs]="colDefs"
                    [defaultColDef]="defaultColDef" [rowData]="data" [selection]="selection"
                    [selectionColumnDef]="selectionColumnDef" (gridReady)="onGridReady($event)">
                    <!-- singleClickEdit 
                 supressRowHoverHighlight
                 columnHoverHighlight 
                 animateRows
                 suppressCellFocus-->
                </ag-grid-angular>
            </div>
            <br>
            <div class="row align-items-center">
                <div class="col-3 offset-1">
                    <app-button [label]="'Submit Activity'" (click)="printCSV()" [disabled]="false"></app-button>
                </div>
            </div>
        </div>
</div>