<br>
<div class="container">
    <h3 *ngIf="filterOptions.length > 0" class="text-center">Filters</h3>
        <div *ngFor="let options of filterOptions">
        <div [ngSwitch]="options.argName" class="py-2">
            <app-filter *ngSwitchDefault [filterOptions]="options" (filterValue)="setFilters($event)"></app-filter>
            <app-project-filter *ngSwitchCase="'DatasetID'" (projectValue)="setFilters($event)" [selectedDatastore]="selectedDatastore"></app-project-filter>
        </div>
    </div>
</div>