<div class="card text-white bg-dark mb-3 dfrm-card grow" (click)="navigateToDetail(data.slug)" style="width: 25rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h5 class="card-title">{{ data.name }}</h5>
        <p class="card-text">{{ data.description }}</p>
        <hr class="card-hr" />
        <ul class="list-group list-group-flush">
            <div class="card-footer" *ngIf="routeType !== 'project'">
                <li class="list-group-item">Manager: {{ data.manager }}</li>
                <li class="list-group-item">Deputy: {{ data.deputy }}</li>
                <li class="list-group-item">Assistant: {{ data.assistant}}</li>
            </div>
            <div class="card-footer" *ngIf="routeType === 'project'">
                <p class="card-text" *ngFor="let pl of data.project_leader">Project Leader: {{pl.id}}</p>
            </div>
        </ul>
    </div>
</div>