<div class="banner-container">
    <img class="banner-image" [src]="bannerImage" />
</div>
<br>
<div class="container my-5 text-center">
    <h1>{{ data?.properties.name }}</h1>
    <div class="container my-5">
        <pre><p>{{ data?.properties.description }}</p></pre>
    </div>
    <h2 class="divider gradient-hr my-5"></h2>
    <p>Street Address: {{ data?.properties.street_address }}</p>
    <p>Mailing Addresss: {{ data?.properties.mailing_address }}</p>
    <p>{{ data?.properties.city }}, {{ data?.properties.state }} {{ data?.properties.zipcode }}</p>
</div>
<h2 class="bar-title">Facility Management Staff</h2>
<div class="employee-bar">
    <app-employee-card *ngIf="data?.properties.manager && data?.properties.manager.email !== ''"
        [data]="data?.properties.manager"></app-employee-card>
    <app-employee-card *ngIf="data?.properties.assistant && data?.properties.deputy.email !== ''"
        [data]="data?.properties.deputy"></app-employee-card>
    <app-employee-card *ngIf="data?.properties.assistant && data?.properties.assistant.email !== ''"
        [data]="data?.properties.assistant"></app-employee-card>
</div>

<!-- <h2 class="divider gradient-hr my-5"></h2> -->

<app-detail-map *ngIf="data" [facility]="data" ></app-detail-map>

<!-- <div *ngIf="data?.properties.staff.length > 0 ">
    <h2 class="divider gradient-hr my-5"></h2>
    <h2 class="bar-title">Facility Staff</h2>
    <div>
        <div  class="staff-bar mb-5">
            <app-staff-card *ngFor="let staff of data?.properties.staff" [data]="staff"></app-staff-card>
        </div>
    </div>
</div> -->