.nav-link, .dropdown-item {
    font-size:x-large;
    color:#5492b4;
}

.nav-link:hover {
    color:#cfd7db;
}

.nav-link.active {
    color:#f9f906
}

.nav-grow {
    transition: all .2s ease-in-out; 
}

.nav-grow:hover {
    transform: scale(1.1);
}

.dropdown-item:hover {
    background-color: #0d1b1f;
    color:#cfd7db;
}

.dropdown-item.router-link-active, .dropdown-item.active {
    background-color: #0d1b1f;
    color:#f9f906
}

.dropdown-menu {
    background-color: #0d1b1f;
    border-color: #cfd7db;;
}

.dropdown-divider {
    border-color:#cfd7db; 
}

@media (min-width: 768px) {
    .navbar-expand-md .justify-content-between {
      justify-content: between;
    }
  }
  /* This CSS code will make sure that the justify-content-between class is only applied to the navbar when the screen width is at least 768 pixels (medium and larger screens) where the navbar-expand-md class takes effect. It will keep the normal alignment on smaller screens when the navbar is collapsed. */
  
  
  
  
  
  