.nav-link, .dropdown-item {
    font-size:x-large;
    color:#5492b4;
}

.nav-link:hover {
    color:#cfd7db;
}

.nav-link.active {
    color:#f9f906
}

.nav-grow {
    transition: all .2s ease-in-out; 
}

.nav-grow:hover {
    transform: scale(1.1);
}

.dropdown-item:hover {
    background-color: #0d1b1f;
    color:#cfd7db;
}

.dropdown-item.router-link-active, .dropdown-item.active {
    background-color: #0d1b1f;
    color:#f9f906
}



.dropdown-menu {
    background-color: #0d1b1f;
    border-color: #cfd7db;;
}

.dropdown-divider {
    border-color:#cfd7db; 
}