<div class="container">
    <div class="d-flex">
        <button *ngIf="professionalAccess(permissionGroup)" (click)="add()" class="dfrm-button-small"
            style="margin-left: auto;">Add Task</button>
    </div>
    <div *ngFor="let item of data; let i = index">
        <!-- <br> -->
        task info
        <div class="container task-container-light">
            <div class="row">
                <div *ngIf="i % 2 === 1" class="col-md-4 overflow-hidden">
                    <img [src]="'http://localhost:8000' + item.img_card.image" alt="Image"
                        class="rounded-left image-task">
                </div>
                <div class="col-md-8 py-4">
                    <div>
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.description }}</p>
                        <br>
                        <hr>
                        <div class="d-flex justify-content-between py-0 my-0">
                            <p>Supervisor: <a [routerLink]="'/users/' + item.supervisor.id">{{
                                    item.supervisor.first_name }}
                                    {{item.supervisor.last_name}} </a></p>
                            <button *ngIf="professionalAccess(permissionGroup)" (click)="edit(item.slug)"
                                class="dfrm-button-small">Edit Task</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="i % 2 === 0" class="col-md-4 overflow-hidden">
                    <img [src]="'http://localhost:8000' + item.img_card.image" alt="Image"
                        class="rounded-right image-task">
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
</div>