<div class="container">
    <button *ngIf="addSubproject || managerPerms" (click)="add()" class="dfrm-button" style="margin-left:auto;">Add
        Subproject</button>
</div>
<br>
<div *ngFor="let item of data; let i = index">
    <!-- subproject info -->
    <div class="container rounded-border bg-dark my-5">
        <div class="col-md-4 banner-container-sub">
            <img [src]="getImageUrl(item.img_banner.image)" alt="Image"
                class="banner-image-sub rounded-top">
        </div>
        <div class="container">
            <div class="col-md-12 px-2">
                <div class="d-flex flex-column align-items-center">
                    <h2 class="text-yellow">{{ item.name }}</h2>
                    <h4 class="text-lightgray">{{ item.division.name }} Division</h4>
                </div>
                <br>
                <!-- <pre><p class="text-lightgray">{{ item.description }}</p></pre> -->
                <app-html-sanitizer [html]="item.description" class="text-lightgray"></app-html-sanitizer>
                <br>
                <div class="d-flex justify-content-between">
                    <p class="text-lightgray">Subproject Lead: <a class="text-yellow"
                            [routerLink]="'/users/' + item.lead.id">{{
                            item.lead.first_name }} {{ item.lead.last_name }} </a></p>
                    <button *ngIf="managerPerms || canEditSubproject(item.id)"
                        (click)="edit(item.id)" class="dfrm-button-small">Edit Subproject</button>
                </div>
            </div>
        </div>
        <hr class="card-hr">
        <!-- tasks -->
        <div class="container px-5">
            <app-detail-task [subprojectId]="item.id"></app-detail-task>
        </div>
    </div>
    <h2 class="divider gradient-hr" *ngIf="i !== data.length-1"></h2>
</div>