<div class="banner-container mb-6">
    <img class="banner-image" [src]="bannerImage" alt="Banner Image" />
</div>


<ng-container *ngIf="department">
    <h1 class="dfrm-title text-center">Department of Fisheries Resources Management</h1>
    <h2 class="divider gradient-hr my-5"></h2>
    <div class="container my-5">
        <pre class="text-wrap" ><p>{{ department?.description }}</p></pre>
    </div>

    <div>
        <h2 class="bar-title">Administrative Staff</h2>
        <div class="employee-bar">
            <app-employee-card *ngIf="department?.manager?.id" [data]="department?.manager"></app-employee-card>
            <app-employee-card *ngIf="department?.deputy?.id" [data]="department?.deputy"></app-employee-card>
            <app-employee-card *ngIf="department?.assistant?.id" [data]="department?.assistant"></app-employee-card>
        </div>
    </div>
</ng-container>

<div class="container my-5">
    <h1 class="dfrm-page-title text-center">{{ routeType | titlecase }}s</h1>
    <div class="container">
    </div>
    <div class="card-container justify-content-md-between justify-content-center">
        <ng-container *ngFor="let item of list; let i = index">
            <app-card *ngIf="item" [routeType]="routeType ? routeType : ''" [data]="item"></app-card>
        </ng-container>
    </div>
</div>

<div *ngIf="department && department.staff.length > 0 ">
    <h2 class="divider gradient-hr my-5"></h2>
    <div>
        <h2 class="bar-title">Management Staff</h2>
        <div class="staff-bar mb-5">
            <app-staff-card *ngFor="let staff of department?.staff" [data]="staff"></app-staff-card>
        </div>
    </div>
</div>