.employee-card {
    background-color: none;
    width: 25rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.employee-photo-container {
    overflow: hidden;
    /* position: relative; */
    border: 2px solid;
    border-radius: 50%;
    border-color: #cfd7db;
    height: 300px;
    width: 300px;
}

#employee-photo {
    min-height: 100%;
    min-width: 100%; 
    object-fit: cover;
}