<div class="card text-white bg-dark dfrm-card" style="border-radius: 6px">
    <div class="card-image-container">
        <img class="card-img-top card-image" [src]="buildImageUrl(facility.img_card.image)">
    </div>
    <div class="card-body text-center">
        <h3 class="text-yellow">{{ facility.name }}</h3>
        <hr class="card-hr">
        <h5>{{ facility.street_address }}</h5>
        <h5>{{ facility.city }}, {{ facility.state }} {{ facility.zipcode }}</h5>
        <h5>{{ formatPhone(facility.phone_number) }}</h5>
    </div>
    <div class="card-footer d-flex justify-content-center align-items-center">
        <button (click)="onClick()" class="dfrm-button-small">Facility Details</button>
    </div>
</div>