<div class="container px-4 py-4">
    <br />
    <h2 style="text-align: center;">Document Upload</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <input type="file" (change)="onFileChange($event)" class="form-control"
                [ngClass]="{ 'validationError' : !selectedDocument }">
            <div class="errorMessage validationErrorMessage" *ngIf="!selectedDocument">A file must be selected.</div>
        </div>

        <app-form-input [form]="form" label="Document Title" controlName="title"
            [customErrors]="{ required: 'Document title is required.' }"></app-form-input>
        <app-form-input [form]="form" label="Description" controlName="description" type="textarea"
            [customErrors]="{ required: 'Description is required.' }"></app-form-input>
        <app-form-input [form]="form" label="Primary Author" controlName="primary_author"
            [customErrors]="{ required: 'Primary author is required.' }"></app-form-input>

        <label for="employee_authors" class="form-label">Employee Authors</label>
        <ng-select formControlName="employee_authors" [multiple]="true">
            <ng-option *ngFor="let author of author_choices" [value]="author.key">{{author.value}}</ng-option>
        </ng-select> 
        
        <app-form-input [form]="form" label="Publish Date" controlName="publish_date" type="date"
            [minDate]="'1900-01-01'" [customErrors]="{ required: 'Publish date is required.' }"></app-form-input>
        <app-form-input [form]="form" label="Document Type" controlName="document_type" type="select"
            [options]="document_types" [customErrors]="{ required: 'Document type is required.' }"
            selectPrompt="Select document type"></app-form-input>
        <app-form-input [form]="form" label="Citation" controlName="citation" type="text"></app-form-input>
        <app-form-input [form]="form" label="Keywords" controlName="keywords" type="text"></app-form-input>


        <app-button [label]="'Upload Document'" [loading]="isSubmitting"
            [disabled]="form.invalid || !selectedDocument || isSubmitting"></app-button>

    </form>
</div>