<div>
    <div class="modal-header">
        <h4 class="modal-title">Register a new User!</h4>
    </div>
    <alert id="register-modal"></alert>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" formControlName="email" class="form-control form-control-lg"
                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                    <div *ngIf="f['email'].errors['pattern']">Only DFRM employee emails are accepted (@nezperce.org)
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" formControlName="first_name" class="form-control form-control-lg"
                    [ngClass]="{ 'is-invalid': submitted && f['first_name'].errors }" />
                <div *ngIf="submitted && f['first_name'].errors" class="invalid-feedback">
                    <div *ngIf="f['first_name'].errors['required']">First name is required</div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" formControlName="last_name" class="form-control form-control-lg"
                    [ngClass]="{ 'is-invalid': submitted && f['last_name'].errors }" />
                <div *ngIf="submitted && f['last_name'].errors" class="invalid-feedback">
                    <div *ngIf="f['last_name'].errors['required']">Last name is required</div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Role</label>
                <select formControlName="role" class="form-select form-control-lg"
                    [ngClass]="{ 'is-invalid': submitted && f['role'].errors }">
                    <option value="" disabled selected>Select a role</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
                    <div *ngIf="f['role'].errors['required']">Role is required</div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control form-control-lg"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                    <div *ngIf="f['password'].errors['minlength']">Password must be at least 8 characters</div>
                    <div *ngIf="f['password'].errors['maxlength']">Password cannot be more than 255 characters</div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" formControlName="password2" class="form-control form-control-lg"
                    [ngClass]="{ 'is-invalid': submitted && f['password2'].errors }" />
                <div *ngIf="submitted && f['password2'].errors" class="invalid-feedback">
                    <div *ngIf="f['password2'].errors['required']">Confirm Password is required</div>
                    <div *ngIf="f['password2'].errors['passwordMismatch']">Passwords do not match</div>
                </div>
            </div>

            <div>
                <button [disabled]="loading" class="dfrm-button grow">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Register User
                </button>
            </div>
        </form>
    </div>
</div>