<div>
    <div class="modal-header">
        <h4 class="modal-title">Register a new User!</h4>
    </div>
    <alert id="register-modal"></alert>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-form-input [form]="form" label="Email" controlName="email" [customErrors]="{ required: 'Email is required', pattern: 'Only DFRM employee emails are accepted' }"></app-form-input>
            <app-form-input [form]="form" label="First Name" controlName="first_name" [customErrors]="{ required: 'First name is required' }"></app-form-input>
            <app-form-input [form]="form" label="Last Name" controlName="last_name" [customErrors]="{ required: 'Last name is required' }"></app-form-input>
            <app-form-input [form]="form" label="Role" controlName="role" type="select" [options]="roles" selectPrompt="Choose a role" [customErrors]="{ required: 'Role is required' }"></app-form-input>
            <app-form-input [form]="form" label="Password" controlName="password" type="password" [customErrors]="{ required: 'Password is required', minlength: 'Password must be at least 8 characters', maxlength: 'Password cannot be more than 255 characters' }"></app-form-input>
            <app-form-input [form]="form" label="Confirm Password" controlName="password2" type="password" [customErrors]="{ required: 'Confirm Password is required', passwordMismatch: 'Passwords do not match' }"></app-form-input>

            <app-button [label]="'Register User'" [loading]="loading" [disabled]="loading || form.invalid"></app-button>
        </form>
    </div>
</div>