<div>
    <div class="modal-header">
        <h4 class="modal-title">Register a new User!</h4>
    </div>
    <alert id="register-modal"></alert>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-form-input [form]="form" label="Email" controlName="email" [customErrors]="{ required: 'Email is required', pattern: 'Only DFRM employee emails are accepted' }"></app-form-input>
            <app-form-input [form]="form" label="First Name" controlName="first_name" [customErrors]="{ required: 'First name is required' }"></app-form-input>
            <app-form-input [form]="form" label="Last Name" controlName="last_name" [customErrors]="{ required: 'Last name is required' }"></app-form-input>
            <app-form-input [form]="form" label="Role" controlName="role" type="select" [options]="roles" [customErrors]="{ required: 'Role is required' }"></app-form-input>
            <app-form-input [form]="form" label="Password" controlName="password" type="password" [customErrors]="{ required: 'Password is required', minlength: 'Password must be at least 8 characters', maxlength: 'Password cannot be more than 255 characters' }"></app-form-input>
            <app-form-input [form]="form" label="Confirm Password" controlName="password2" type="password" [customErrors]="{ required: 'Confirm Password is required', passwordMismatch: 'Passwords do not match' }"></app-form-input>
          
            <!-- <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid':  f['email'].errors }" />
                <div *ngIf="f['email'].touched && f['email'].dirty && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                    <div *ngIf="f['email'].errors['pattern']">Only DFRM employee emails are accepted
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" formControlName="first_name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['first_name'].errors }" />
                <div *ngIf="submitted && f['first_name'].errors" class="invalid-feedback">
                    <div *ngIf="f['first_name'].errors['required']">First name is required</div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" formControlName="last_name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['last_name'].errors }" />
                <div *ngIf="submitted && f['last_name'].errors" class="invalid-feedback">
                    <div *ngIf="f['last_name'].errors['required']">Last name is required</div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Role</label>
                <select formControlName="role" class="form-control form-select"
                    [ngClass]="{ 'is-invalid': submitted && f['role'].errors }">
                    <option value="" disabled selected>Select a role</option>
                    <option value="2">Manager</option>
                    <option value="3">Project Leader</option>
                    <option value="4">Professional</option>
                    <option value="5">Technician</option>
                    <option value="6">Guest</option>
                </select>
                <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
                    <div *ngIf="f['role'].errors['required']">Role is required</div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                    <div *ngIf="f['password'].errors['minlength']">Password must be at least 8 characters</div>
                    <div *ngIf="f['password'].errors['maxlength']">Password cannot be more than 255 characters</div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" formControlName="password2" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['password2'].errors }" />
                <div *ngIf="submitted && f['password2'].errors" class="invalid-feedback">
                    <div *ngIf="f['password2'].errors['required']">Confirm Password is required</div>
                    <div *ngIf="f['password2'].errors['passwordMismatch']">Passwords do not match</div>
                </div>
            </div> -->

            <app-button [label]="'Register User'" [loading]="loading" [disabled]="loading || form.invalid"></app-button>
        </form>
    </div>
</div>