<div [formGroup]="form">
    <label [attr.for]="input.key" class="form-label">{{input.label}}</label>

    <div [ngSwitch]="input.controlType">

        <!-- GEOMETRY -->
        <app-geometry-input *ngSwitchCase="'geometry'"></app-geometry-input>

        <!-- FILE -->
        <input *ngSwitchCase="'file'" type="file" [formControlName]="input.key" [value]="input.key" [id]="input.key"
            class="form-control form-control-lg">        

        <!-- HIDDEN -->
        <input *ngSwitchCase="'hidden'" type="hidden" style="display:none;" [formControlName]="input.key"
            [value]="input.key" [id]="input.key" />

        <!-- IMAGE -->
        <div class="row justify-space-between position-relative" style="max-height:180px" *ngSwitchCase="'image'">
            <div class="col-sm-8">
                <select [id]="input.key" *ngSwitchCase="'image'" [formControlName]="input.key" size="6"
                    (change)="onSelectChange($event)" class="form-control form-select form-select-lg">
                    <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <div class="mb-3">
                    <img *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" class="img-thumbnail"
                        style="max-height: 160px">
                </div>
            </div>
        </div>

        <!-- NUMBER -->
        <input *ngSwitchCase="'number'" [formControlName]="input.key" [id]="input.key" [type]="input.type"
            class="form-control form-control-lg">

        <!-- PHONE -->
        <div *ngSwitchCase="'phone'">
            <input [formControlName]="input.key" [id]="input.key" [type]="input.type"
                class="form-control form-control-lg">
            <small class="form-text text-muted">Expected format: +1 XXX XXX XXXX</small>
        </div>

        <!-- TEXT -->
        <input *ngSwitchCase="'text'" [formControlName]="input.key" [id]="input.key" [type]="input.type"
            class="form-control form-control-lg">

        <!-- TEXTAREA -->
        <textarea *ngSwitchCase="'textarea'" rows="3" [formControlName]="input.key" [id]="input.key"
            class="form-control form-control-lg"></textarea>

        <!-- SELECT -->
        <select [id]="input.key" *ngSwitchCase="'select'" [formControlName]="input.key"
            class="form-control form-select form-select-lg">
            <option [value]=''></option>
            <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
        </select>

        <!-- SELECT MULTIPLE -->
        <select [id]="input.key" *ngSwitchCase="'multi-select'" [formControlName]="input.key"
            class="form-control form-select form-select-lg" multiple [ngModel]="input.idArray">
            <option></option>
            <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
        </select>

        <!-- DATE -->
        <input *ngSwitchCase="'date'" [type]="input.type" [formControlName]="input.key"
            class="form-control form-control-date form-control-lg" />

    </div>

    <div class="errorMessage" *ngIf="!isValid">{{input.label}} is required</div>
</div>