<div [formGroup]="form">
    <label [attr.for]="input.key" class="form-label">{{input.label}}</label>

    <div [ngSwitch]="input.controlType">

        <!-- FILE -->
        <input  *ngSwitchCase="'file'" type="file" [formControlName]="input.key" [value]="input.key" [id]="input.key" class="form-control form-control-lg">

        <!-- HIDDEN -->
        <input *ngSwitchCase="'hidden'" type="hidden" [formControlName]="input.key" [value]="input.key" [id]="input.key" />

        <!-- IMAGE -->
        <select [id]="input.key" *ngSwitchCase="'image'" [formControlName]="input.key"
            class="form-control form-select form-select-lg">
            <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
            <!-- image preview -->
            <!-- <div *ngIf="selectedImage" class="mb-3">
                <label class="form-label">Image Preview</label>
                <img [src]="imagePreview" alt="Image Preview" class="img-thumbnail">
            </div> -->
        </select>

        <!-- PHONE -->
        <div *ngSwitchCase="'phone'" >
            <input [formControlName]="input.key" [id]="input.key" [type]="input.type"
            class="form-control form-control-lg">
            <small class="form-text text-muted">Expected format: +1 XXX XXX XXXX</small>
        </div>
 
        <!-- TEXT -->
        <input *ngSwitchCase="'text'" [formControlName]="input.key" [id]="input.key" [type]="input.type"
            class="form-control form-control-lg">

        <!-- TEXTAREA -->
        <textarea *ngSwitchCase="'textarea'" rows="3" [formControlName]="input.key" [id]="input.key"
            class="form-control form-control-lg"></textarea>

        <!-- SELECT -->
        <select [id]="input.key" *ngSwitchCase="'select'" [formControlName]="input.key"
            class="form-control form-select form-select-lg">
            <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
        </select>

        <!-- SELECT MULTIPLE -->
        <select [id]="input.key" *ngSwitchCase="'multi-select'" [formControlName]="input.key"
            class="form-control form-select form-select-lg" multiple [ngModel]="input.idArray">
            <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
        </select>

        <!-- DATE -->
        <input *ngSwitchCase="'date'" [type]="input.type" [formControlName]="input.key"
            class="form-control form-control-date form-control-lg" />

    </div>

    <div class="errorMessage" *ngIf="!isValid">{{input.label}} is required</div>
</div>