<div class="banner-container">
    <img class="banner-image" [src]="imageUrl" [alt]="data?.description" />
</div>
<br>
<div class="container">
    <h1 class="text-center">{{ data?.name }}</h1>
</div>
<div class="employee-bar">
    <app-employee-card *ngIf="data?.manager" [data]="data?.manager"></app-employee-card>
    <app-employee-card *ngIf="data?.deputy" [data]="data?.deputy"></app-employee-card>
    <app-employee-card *ngIf="data?.assistant" [data]="data?.assistant"></app-employee-card>
    <div *ngFor="let pl of data?.project_leader">
        <app-employee-card *ngIf="pl" [data]="pl"></app-employee-card>
    </div>
</div>

<div class="container mtb150" >
    <p>{{ data?.description }}</p>
</div>

<h2  *ngIf="routeType === 'project'"  class="divider gradient-hr"></h2>

<div *ngIf="routeType === 'project'">
    <app-detail-subproject [projectId]="data?.id"></app-detail-subproject>
</div>