.employee-bar {
    background-color: #0d1b1f;
    overflow-x:hidden;
    padding: 75px;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}