<div class="container py-4">
    <input type="file" #fileInput style="display: none" (change)="handleFileInputChange($event)">
    <button *ngIf="this.routeType === 'profile'" style='float:right; position: absolute;' (click)="triggerFileInputClick()"
        class="dfrm-button-small grow">Update
        Image</button>
    <div class="d-flex justify-content-around align-items center my-4">
        <div class="profile-img-container">
            <img [src]="imageUrl" class="profile-img" alt="...">
        </div>
    </div>

    <div class="bg-dark rounded p-4 my-5">
        <button *ngIf="this.routeType === 'profile'" style='float:right; position: absolute;' (click)="updateProfile()"
            class="dfrm-button-small grow">Update
            Profile</button>
        <h1 class="text-center font-weight-bold text-yellow my-2">{{ data?.full_name }}</h1>
        <h2 class="text-center text-lightgray">{{ data?.profile?.title }}</h2>
        <hr class="card-hr" />
        <br>
        <!-- <pre>
            <h4 class="text-lightgray">{{ data?.profile?.bio }}</h4>
        </pre> -->
        <div [innerHTML]="this.sanitizer.bypassSecurityTrustHtml(String(data?.profile?.bio))" class="text-lightgray"></div>
        <br>
        <hr class="card-hr" />
        <br>
        <ul class="text-lightgray">
            <li *ngIf="data?.profile?.city">
                <h4 class="text-lightgray">Office Location: {{ data?.profile?.city }}, {{ data?.profile?.state }}</h4>
            </li><br>
            <li>
                <h4 class="text-lightgray">Email: <a class="text-yellow" href="mailto:{{data?.email}}">{{ data?.email }}</a></h4>
            </li><br>
            <li *ngIf="data?.profile?.mobile_phone">
                <h4 class="text-lightgray">Work Phone: {{ formatPhone(data?.profile?.work_phone) }}</h4>
            </li><br>
            <li *ngIf="data?.profile?.mobile_phone">
                <h4 class="text-lightgray">Mobile Phone: {{ formatPhone(data?.profile?.mobile_phone) }}</h4>
            </li><br>
        </ul>

    </div>
</div>