<div class="container">
    <div class="profile-image-container">
        <img [src]="imageUrl" class="profile-image" alt="...">
    </div>
    <h1>{{ user?.first_name }} {{ user?.last_name }}</h1>
    <h2>{{ user?.profile?.title }}</h2>
    <h3>{{ user?.profile?.bio }}</h3>
    <ul>
        <li>
            <h3>Office Location: {{ user?.profile?.city }}, {{ user?.profile?.state }}</h3>
        </li><br>
        <li>
            <h3>Email: {{ user?.email }}</h3>
        </li><br>
        <li>
            <h3>Work Phone: {{ formatPhone(user?.profile?.work_phone) }}</h3>
        </li><br>
        <li>
            <h3>Mobile Phone: {{ formatPhone(user?.profile?.mobile_phone) }}</h3>
        </li><br>
    </ul>
    <button *ngIf="this.routeType === 'profile'" (click)="updateProfile()" class="dfrm-button grow">Update
        Profile</button>
</div>