<div class="card container-sm px-0">
    <h4 class="card-header ">Update Password</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <app-form-input [form]="form" label="Old Password" controlName="old_password" type="password" [customErrors]="{ required: 'Password is required', minlength: 'Password must be at least 8 characters', maxlength: 'Password cannot be more than 255 characters' }"></app-form-input>
            <app-form-input [form]="form" label="New Password" controlName="password" type="password" [customErrors]="{ required: 'Password is required', minlength: 'Password must be at least 8 characters', maxlength: 'Password cannot be more than 255 characters' }"></app-form-input>
            <app-form-input [form]="form" label="Confirm New Password" controlName="password2" type="password" [customErrors]="{ required: 'Confirm Password is required', passwordMismatch: 'Passwords do not match' }"></app-form-input>

            <app-button [label]="'Update Password'" [loading]="loading" [disabled]="loading || form.invalid" [style]="{'float':'right'}"></app-button>
        </form>
    </div>
</div>