<div [formGroup]="form">
    <label [attr.for]="input.key" class="form-label">{{input.label}}</label>

    <div [ngSwitch]="input.controlType">

        <!-- TEXT -->
        <input *ngSwitchCase="'text'" [formControlName]="input.key" [id]="input.key" [type]="input.type" class="form-control form-control-lg">

        <!-- TEXTAREA -->
        <textarea *ngSwitchCase= "'textarea'" rows="3" [formControlName]="'description'" class="form-control form-control-lg"></textarea>

        <!-- SELECT -->
        <select [id]="input.key" *ngSwitchCase="'select'" [formControlName]="input.key" class="form-select form-control-lg">
            <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
        </select>

        <!-- DATE -->
        <input *ngSwitchCase="'date'" [type]="input.type" [formControlName]="input.key" class="form-control form-control-date form-control-lg" />

    </div>

    <div class="errorMessage" *ngIf="!isValid">{{input.label}} is required</div>
</div>