@import '~@fortawesome/fontawesome-free/css/all.css';

* {
    font-family: 'Times New Roman', Times, serif;
}

.dfrm-page-title {
    font-size:58px;  
}

.dfrm-button {
    background-color: #0d1b1f;
    color:#f9f906;
    padding: 6px;
    border-radius: 10px;
    border-color: #5492b4;
    font-size: larger;
}

.dfrm-button:hover, .dfrm-button-invert:hover {
    transition: all .2s ease-in-out; 
    transform: scale(1.1);
}

.dfrm-button:disabled, .dfrm-button-invert:disabled {
    background-color: #5492b4; 
    color: #0d1b1f; 
    cursor: not-allowed;
    transform: none;
}

/* .dfrm-button-invert {
    background-color: #f9f906;
    color:#0d1b1f;;
    padding: 6px;
    border-radius: 10px;
    border-color: #5492b4;
    font-size: larger;
} */

.dfrm-button-invert {
    background-color: #5492b4;
    color:#0d1b1f;;
    padding: 6px;
    border-radius: 10px;
    border-color: #f9f906;
    font-size: larger;
}

/* text */
h1 {
    font-size:xx-large;
}


/* IMAGES */
.banner-container {
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1em;
}

.banner-image {
    min-height: 500px;
    min-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.grow {
    transition: all .2s ease-in-out; 
}

.grow:hover {
    transform: scale(1.1);
}

.grow:disabled {
    transition: none;
}

/* FORMS */
.form-label {
    font-size: larger;
}

/* CARDS */
.dfrm-card {
    min-height: 500px;
    max-height: 500px;
    border-radius: 15px;
    border-color: #5492b4;
    border-width: 2px;

    display: flex;
    flex-direction: column;
}

.dfrm-card:hover {
    cursor: pointer;
}

.card-img-top {
    /* needs to jive with dfrm-card border-radius */
    border-radius: 15px 15px 0 0;
}

.card-body {
    flex:1;
}

.card-hr {  
    border-color: #f9f906;
}

.bg-dark {
    background-color: #0d1b1f;
}

.card-title {
    font-size: x-large;
    color: #f9f906;
}

.card-text {
    font-size: larger;
    color: #cfd7db;

}

.card-footer {
    margin-top: auto;
}

.card-image-container {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.card-image {
    height:auto;
    min-width: 100%;
    display:block;
    margin: 0 auto;
}