@import '~@fortawesome/fontawesome-free/css/all.css';

* {
    font-family: 'Times New Roman', Times, serif;
}

.dfrm-page-title {
    font-size:58px;  
}

.dfrm-button {
    background-color: #0d1b1f;
    color:#f9f906;
    padding: 6px;
    border-radius: 10px;
    border-color: #5492b4;
    font-size: larger;
}

/* .dfrm-button-invert {
    background-color: #f9f906;
    color:#0d1b1f;;
    padding: 6px;
    border-radius: 10px;
    border-color: #5492b4;
    font-size: larger;
} */

.dfrm-button-invert {
    background-color: #5492b4;
    color:#0d1b1f;;
    padding: 6px;
    border-radius: 10px;
    border-color: #f9f906;
    font-size: larger;
}


/* text */
h1 {
    font-size:xx-large;
}


/* IMAGES */
.banner-container {
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1em;
}

.banner-image {
    min-height: 500px;
    min-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.grow {
    transition: all .2s ease-in-out; 
}

.grow:hover {
    transform: scale(1.1);
}

/* FORMS */
.form-label {
    font-size: larger;
}
