<div class="banner-container">
    <img class="banner-image" src="../../assets/images/saturn.jpg" alt="Banner Image" />
</div>
<div class="container">
    <!-- <app-dynamic-form [inputs]="inputs$ | async"></app-dynamic-form>
    <button (click)="hitAPI()">API</button> -->
        <h1 class="dfrm-title">Department of Fisheries Resources Management</h1>

        <div class="col-md">
                    <p class="home-p">
                        The land and its waters define the Nez Perce way. Over the course
                        of thousands of years, nature has taught us how to live with her.
                        This intimate and sacred relationship unifies us, stabilizes us, humbles
                        us. It is what makes us a distinct people and what gives us our identity.
                        We cannot be separated from the land or our rights without losing
                        what makes us Nez Perce. We defend our rights to preserve who we are
                        and what we hold sacred.
                    </p>
                    <hr />
                    <p class="home-p">
                        The Nimiipúu fished, hunted, gathered, pastured
                        livestock and traded over an enormously broad area
                        that includes what is today, Idaho, Washington,
                        Oregon, Montana and Wyoming. This land of rolling
                        hills, towering peaks, prairies, clear mountain
                        streams, and deep canyons has been the Nimiipúu’s
                        homeland since time immemorial. Relative to this
                        extensive area in which they have always lived, the
                        Nimiipúu have accumulated a deep repository of
                        ecological knowledge and wisdom concerning the
                        land, water, and other natural resources. Spirituality
                        and proper respect (in the form of prayer) were
                        incorporated into every aspect of traditional Nimiipúu
                        life: digging roots, hunting and fishing, weaving,
                        teaching children, or taking sweat baths. All activities
                        were conducted according to the Nimiipúu
                        belief system (or Indian way of life). The love and
                        respect for the gifts of the Creator and the Creation
                        guided Nimiipúu activities to avoid acts of greed or selfishness such that the natural resources
                        were
                        not depleted. These traditional guidelines have been
                        learned and passed down over the millennia through
                        Nimiipúu oral traditions (myths and stories), songs,
                        prayers, dances, rituals, and ceremonies.
                    </p>
                </div>
        </div>