<div class="banner-container">
    <img class="banner-image" [src]="bannerImage" alt="Banner Image" />
</div>

<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="..\..\assets\images\DFRM.png" class="image-fluid" />
        </div>
        <div class="col-8">
            <h1 class="dfrm-title">Department of Fisheries Resources Management</h1>
        </div>
        <div class="col-2">
            <img src="..\..\assets\images\logo.png" class="image-fluid" />
        </div>
    </div>
</div>

<div class="container my-5 py-5">
    <p>
        The land and its waters define the Nez Perce way. Over the course
        of thousands of years, nature has taught us how to live with her.
        This intimate and sacred relationship unifies us, stabilizes us, humbles
        us. It is what makes us a distinct people and what gives us our identity.
        We cannot be separated from the land or our rights without losing
        what makes us Nez Perce. We defend our rights to preserve who we are
        and what we hold sacred.
    </p>

    <br>
    <hr>
    <br> 

    <p>
        The Nimiipúu fished, hunted, gathered, pastured
        livestock and traded over an enormously broad area
        that includes what is today, Idaho, Washington,
        Oregon, Montana and Wyoming. This land of rolling
        hills, towering peaks, prairies, clear mountain
        streams, and deep canyons has been the Nimiipúu’s
        homeland since time immemorial. Relative to this
        extensive area in which they have always lived, the
        Nimiipúu have accumulated a deep repository of
        ecological knowledge and wisdom concerning the
        land, water, and other natural resources. Spirituality
        and proper respect (in the form of prayer) were
        incorporated into every aspect of traditional Nimiipúu
        life: digging roots, hunting and fishing, weaving,
        teaching children, or taking sweat baths. All activities
        were conducted according to the Nimiipúu
        belief system (or Indian way of life). The love and
        respect for the gifts of the Creator and the Creation
        guided Nimiipúu activities to avoid acts of greed or selfishness such that the natural resources
        were
        not depleted. These traditional guidelines have been
        learned and passed down over the millennia through
        Nimiipúu oral traditions (myths and stories), songs,
        prayers, dances, rituals, and ceremonies.
    </p>
</div>

<h2 class="divider gradient-hr my-5"></h2>

<div class="container my-5 py-5">
    <div class="row">
        <div class="col-6">
            <!-- {% comment %} <img src="../static/img/tribal_members_fishing.jpg" alt="..."> {% endcomment %} -->
            <img class="grow" src="../assets/images/MgmtPlan.png" alt="DFRM Management Plan" width=400px>
        </div>
        <div class="col-6  fs-5">
            <h2 class="text-center">Vision</h2>
            <ul>
                <li>The Department shall be proactive in an ever-changing ecological and management environment.
                </li>
                <li>Tribal member use of and access to all treaty rights and resources guaranteed under the Treaty of
                    1855 will be respected and promoted by the Department, our co-managers, and the public at large.
                </li>
                <li>Educational outreach will be provided that ensures comprehensive knowledge of aquatic resource
                    values and the future state of the resource for the Nez Perce tribal members and the non-tribal
                    public.
                </li>
                <li>All species and populations of anadromous and resident fish and their habitats will be healthy and
                    harvestable within Nez Perce Usual and Accustomed areas.
                </li>
                <li>Sound fisheries and habitat management actions will be implemented to improve survival, production,
                    recovery and restoration of all populations of native anadromous and resident fish species and their
                    habitats within Nez Perce Usual and Accustomed areas.
                </li>
                <li>The Nez Perce Tribe’s leadership in fisheries and resource management will be recognized in
                    professional and public forums.
                </li>
            </ul>
        </div>
    </div>


</div>

<div class="bg-dark">
    <div class="container p-5">
        <blockquote class="blockquote">
            <p class="mb-0 text-lightgray fs-4"><em>"We did not inherit this earth or its natural resources from our
                    ancestors,
                    we are only borrowing them from our children's children; therefore, we are duty bound and obligated
                    to protect them and use them wisely until such time that they get here, and then they will have the
                    same obligations."</em></p>
            <br>
            <footer class="blockquote-footer text-yellow fs-4">Eugene Greene, Sr. <cite title="Source Title">CRITFC
                    1995</cite></footer>
        </blockquote>
    </div>
</div>

<h2 class="divider gradient-hr my-5"></h2>