<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <div *ngFor="let input of inputs" class="form-row mb-3">
            <app-dynamic-form-input [input]="input" [form]="form"></app-dynamic-form-input>
        </div>

        <div class="form-row">
            <button type="submit" [disabled]="!form.valid">Save</button>
        </div>
    </form>

    <div *ngIf="payload" class="form-row">
        <strong>Saved the following values</strong><br>{{payload}}
    </div>
</div>